<button
  pButton
  type="button"
  label="table-basic"
  routerLink="table-basic"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>
<button
  pButton
  type="button"
  label="table-dynamic-columns"
  routerLink="table-dynamic-columns"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>
<button
  pButton
  type="button"
  label="table-sections"
  routerLink="table-sections"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>

<hr>

<router-outlet></router-outlet>
