<button
  pButton
  type="button"
  label="tree-expand-all"
  routerLink="tree-expand-all"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>
<button
  pButton
  type="button"
  label="tree-sections"
  routerLink="tree-sections"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>
<button
  pButton
  type="button"
  label="tree-templating"
  routerLink="tree-templating"
  routerLinkActive="p-button-help"
  style="margin-right: .5rem"
></button>

<hr>

<router-outlet></router-outlet>
